#calculator-body {
	display: flex;
	flex-direction: column;
	border: 5px solid black;
	border-radius: 20px;
	background-color: lightgray;
	width: 400px;
	height: 550px;
	font-family: monospace;
}

#display {
	border: 2px solid green;
	border-radius: 10px;
	background-color: lightgreen;
	height: 100px;
	margin: 10px;
	font-size: 75px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#user-input {
	display: flex;
	flex-flow: row wrap;
}

.numbers {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.number {
	width: 30%;
	border-color: red;
	background-color: lightcoral;
}

.operators {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.operator {
	border-color: blue;
	background-color: lightblue;
}

.utility {
	border-color: orange;
	background-color: lightgoldenrodyellow;
}

.subtext {
  font-size: 18px;
  color: #6f1a0b;
}

button {
	border: 1px solid;
	height: 75px;
	width: 75px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	margin: 5px;
}

#n0 {
	width: 63%;
}

#nEquals {
	width: 100%;
}
