#calculator-body {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  background-color: lightgray;
  width: 400px;
  height: 500px;
  font-family: monospace;
}

#display {
  border-style: solid;
  border-color: green;
  background-color: lightgreen;
  border-width: 2px;
  height: 100px;
  margin: 10px;
  font-size: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#user-input {
  display: flex;
  flex-flow: row wrap;
}

.numbers {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.number {
  height: 75px;
  width: 75px;
  border-style: solid;
  border-color: red;
  background-color: lightcoral;
  border-width: 1px;
}

.operators {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.operator {
  height: 75px;
  width: 75px;
  border-style: solid;
  border-color: blue;
  background-color: lightblue;
  border-width: 1px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 5px;
}

.function {
  border-color: orange;
  background-color: lightgoldenrodyellow;
}
