#calculator-body {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 400px;
  height: 500px;
}

#display {
  border-style: solid;
  border-color: green;
  border-width: 2px;
  height: 100px;
  margin: 10px;
}

#user-input {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
  height: 350px;
}

.numbers {
  display: flex;
  flex-direction: column-reverse;
  margin: 3px;
  justify-content: space-between;
  width: 300px;
}

.number-row {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-evenly;
}

.operators {
  display: flex;
  flex-direction: column;
  margin: 3px;
  justify-content: space-between;
  width: 150px;
}

.button {
  margin: 5px;
}
